html {
    background-color: black;
    color: seashell;
    font-family: Helvetica, sans-serif;
    font-size: 22px;
    opacity: 0.9;
    align-items: center;
}



/* Header */
.header {
    height: 69px;
    border-bottom: 1px solid seashell;
    position: fixed;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: black;
}

.header img {
    padding-left: 10px;
    height: 50px;
}

.menu {
    display: flex;
    gap: 20px;
}

.menu li {
    display: inline-block;
    text-decoration: underline;
    padding-right: 10px;
    cursor: pointer;
}

.menu li:hover {
    color: aquamarine;
}


/* Main Photo */
.mission-container {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.mission-container img {
    width: 100%;
    height: 700px;
    object-fit: cover;
}

.mission-text {
    position: absolute;
    text-align: center;
    background-color: black;
    width: 100%;
}

/* Tea of the Month */
.month {
    padding-top: 50px;
    text-align: center;
}
.monthly-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
    justify-content: center;
    gap: 20px;
}

.box {
    width: 300px;
    text-align: center;
}

.box img {
    width: 300px;
    height: 200px;
    object-fit: cover;
}

.box p {
    padding: -5px;
}

/* Locations */

.cozy-locations {
    position: relative;
    min-height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 500px;
    object-fit: cover;
    z-index: -1;
}



.store {
    display: flex;
    justify-content: center;
    gap: 40px;
    text-align: center;
    position: absolute;
    
}

.location-text {
    background-color: black;
    padding: 20px;
    width: 300px;
    opacity: 1;
}

.cozy-locations h3 {
    position: relative;
    text-align: center;
    margin-bottom: 15px;
}

/* Footer */
footer {
    text-align: center;
}

.information p {
    font-size: 15px;
}

footer .copyright {
    text-align: left;
    padding: 20px;
    font-size: 15px;
}






